<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Subcategorías</title>
</head>
<body>
    <h1>Lista de Subcategorías</h1>
    <a href="{% url 'subcategory_create' %}">Crear Nueva Subcategoría</a>
    <ul>
        {% for subcategory in subcategories %}
            <li>
                {{ subcategory.name }} - 
                <a href="{% url 'subcategory_edit' subcategory.pk %}">Editar</a> - 
                <a href="{% url 'subcategory_delete' subcategory.pk %}">Eliminar</a>
            </li>
        {% empty %}
            <li>No hay subcategorías disponibles.</li>
        {% endfor %}
    </ul>
</body>
</html>
